html body{
	font-family: 'Montserrat';
}

#card{
  background-color: red;
  width: 200px;
  height: 250px;
  position: absolute;
  float: left;
  z-index: -1;
}

.fluxos-base{
  height: 120px !important;
  width: 10%;
}

.view{
  background-color: blue;
  width: 150px;
  height: 150px;
  position: relative;
  /*top: 20px;*/
  margin-left: 15px;
  z-index: 4;
}
.btn{
	background-color: yellow;
}
.card-title{
	font-size: 25px;
}

.card-text{
	width: 55%;
	margin-left: 22%;
}