.txt-setor {
	padding-left: 2%;
}

body{
	margin-top: 90px;
  background-image: linear-gradient(to bottom, transparent -80%, #fff 10%), url("../images/Novas/tec.jpg") !important;
  background-position: 25% 90%;
}



.site-header{
  text-align: center;
  font-family: lato black;
  font-size: calc(2.5em + 1vw);
  padding-top: 30px;
  color: #fed116;
  margin-bottom: -25px;
}
.color{
  background: linear-gradient(to right, #fed116 0%,#f8be0a 63%,#fed116 100%);
  width: 100%;
}
.card-body{
  margin-top: 10%;
}
.card{
  width: 20%;
  height: 100%;
  opacity: -2;
  float: left;
  position: relative;
  margin: 0px !important;
  margin-left: 10.5% !important;
  border-style: solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.card:hover{
  opacity: 1;
}

.container{
  margin-top: 5% !important;
}

.vocesabia{
  margin-bottom: 0px !important;
  margin-top: 3% !important;
}

.titulo-voce{
  margin-left: 12% !important;

}

.txt-servico{
  font-size: 55px;
  text-align: left;
  padding-bottom: 15px;
  font-family: lato black;
  color: black;
}

@media (max-width: 670px) {
	.response{
		text-align: center;
	}
}