.txt-setor {
	padding-left: 2%;
}

body{
	margin-top: 90px;
  background-position: 25% 90%;
  background-image: linear-gradient(to bottom, transparent -80%, #fff 10%), url("../images/Novas/tec.jpg") !important;
}

.imagens{
  width: 100%;
  position: relative !important;
  height: 6px;
}

.fluxo{
  background-image: url("../images/FLUXO/abcd.png") !important;
  background-repeat: no-repeat !important;
  background-position: 52.3% 82% !important;
  background-size: 3000px !important;
  width:100%; 
  background-size: 1300px !important;
  height: 700px;
}.
.card-fluxo{
  width: 20% !important;
  float: left;
  margin-right: 0% !important;
  margin: 0px 0px 0px 3% !important;
}

.card-fluxo1{
  width: 20%;
  float: left;
  margin-right: 0% !important;
  margin: 0px 0px 0px 4% !important;
}

.base{
  margin-top: 300% !important;
  margin-left: 151.5% !important;

}
.base1{
  margin-top: 210% !important;
  margin-left: 12% !important; 
}

.fluxos-top{
  width: 20%;
  height:100%;
}

.fluxos-base{
  width: 20%;
  /*margin: 10px 0px 0px 0.8% !important;*/
}

.site-header{
  text-align: center;
  font-family: lato black;
  font-size: calc(2.5em + 1vw);
  padding-top: 30px;
  color: #fed116;
  margin-bottom: -25px;
}
.color{
  background: linear-gradient(to right, #fed116 0%,#f8be0a 63%,#fed116 100%);
  width: 100%;
}
.card-body{
  margin-top: 10%;
}
.card{
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  margin: 0px !important;
  margin-left: 10.5% !important;
  border-style: solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.container{
  margin-top: 5% !important;
  position: relative;
 
}

.vocesabia{
  margin-bottom: 0px !important;
  margin-top: 3% !important;
}

.titulo-voce{
  margin-left: 12% !important;

}

.txt-servico{
  font-size: 55px;
  text-align: left;
  padding-bottom: 15px;
  font-family: lato black;
  color: black;
}
@media only screen and (max-width: 450px){
  .card{
    width: 100% !important;
    margin:0px 0px 5% 0px !important;
  }
}

@media (max-width: 670px) {
	.response{
		text-align: center;
	}

  .fluxo{
    width: 100% !important;
    background-image: url("../images/FLUXO/abcd.png") !important;
    background-size: 400px !important;
  }
  .espaco{
    height: 40vh !important;
  }
}