gitbody,html {
    margin: 0px;
    font-family: 'Montserrat';
}


.resu{
    background-image: url("../images/Novas/n.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.titi{
    color: black;
    font-size: 35px;
    font-weight: bolder;
    margin: 0% 0px 0px 3%;
}

.titi1{
    font-size: 44px;
    font-weight: bolder;
}

.asso{
    display: flex;
    flex-direction:row; 
}
.boxes{
    height: 50%;
    text-align: center;
    margin:10% 14% 14% 14.5%;
}
.dados{
    height: 50%;
    font-size: 48px;
    color: yellow;
    font-weight: bolder;
    text-align: center;
    margin: 10% 0px 0px 0px;
}

/*---make a basic box ---*/
.box {
    float: left;
    text-align: justify !important;

}

.btn1{
    margin-left: 5%;
    font-size: 20px;
}

.botao{
    width: 100%;
    height: 70px;
    padding-left: 4%;

}
.btn-warning{
    color: black !important;
}
.btn-warning:hover{
    color:white !important;
    }
.desejo{
    background-color: black;
    height: 30%;
    font-size:20px; 
    margin-top: 0%;
    width: 100%;
    float: left;
}

.btn{
    float: left;
    margin-top: 0.5%;

}

a[href="#top"]{
    text-decoration: none;
    background: rgba(30,156,161,.9);
    background: #f2f2f2 ;
    bottom: 30px;
    right: 30px;
    color: #f2f2f2;
    text-align: center;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: fixed;
    border: 0;
    font-family: sans-serif;
    opacity:.8;
}

a[href="#top"]:hover{
    opacity:1;
}
.bannertext {
    color: white;
    font-size: 35px;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    border-radius: 40px;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fed116;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 40px;
}

.reuniao {
    border: 2px;
    border-style: solid;
    border-radius: 20px !important;
    border-color: #fed116;
    background-color: transparent;
    color: white;
    height: 40px;
    width: 310px;
}

.reuniao:hover {
    background-color: black;
    border-radius: 20px !important;
    color: white;
}

.texto {
    height: 50vh;
    background: transparent;
}

.texto2 {
    height: 25vh;
    background: transparent;
}

.projetos-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 180%;
    padding-top: 2%;
    float: left;
}

.card {
    text-align: center;
    width: 25%;
    margin: 16% ;
    margin-bottom: 5% !important;
    margin-top: 5% !important;
}
.card-title1{
    margin-top: 0px !important;
}

.card3 {
    text-align: center;
    width: 115%;
    height: 30%;
    margin-right: 27%;
}
.card1 {
    text-align: center;
    width: 25%;
    margin: 10%;
    margin-left: 5%;
}

.cardmgpreco {
    margin-top: 10%;
    margin-bottom: 5%;
}

.cardimginovacao {
    margin-right: 0%;
    margin: 0% 0% 6% 30%;

}

.textoP {
    font-family: normal;
    text-align: center;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    padding-bottom: 10px;
}

.nav.navbar-nav.pull-right {
    padding-top: 1% !important;
}


.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}


.section--blue {
  margin-left: 8.5%;
}

.banner {
    background-image: url(../images/bg.jpg);
    height: 100vh;
}

.banner .row {
    text-align: center;
    width: 100% !important;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#row1 {
    margin-top: 9% !important;
}

.banner h1 {
    color: white;

}
#atuacao{
    height:15% !important; 
    background-image: url("../images/i.png");
    background-repeat: no-repeat;
    background-position: unset;
    background-size: 100% 32%;
    flex-direction: column;
    display: flex;
}

.atuacao {
    display: flex;
}

.atuacoes1 {
    display: flex;
    width: 100%;
    height: 10%;
}

.atuacoes {
    display: flex;
    width: 100%;
    height: 10%;
}
#flex1{
    display: flex;
    width: 1100px;
    height: 40px !important;
    flex-direction: initial;
    justify-content: center;
    margin-left: 13%;
    margin-top: 35%;
}
#flex2{
    display: flex;
    width: 1100px;
    height: 40px !important;
    flex-direction: initial;
    justify-content: center;
    margin-left: 13%;

}
@media only screen and (max-width: 1024px){
    #reuniao{
        margin-left: 13%;
    }
    .imagem{
        margin-left: 5% !important;
    }
}
@media only screen and (max-width: 768px){
    .boxes{
        margin: 10% 10% 10% 6%;
    }
    #cloqueaqui{
        margin-left: 0px !important;
    }
}
@media only screen and (max-width: 430px){
    #row1 {
    margin-top: -12% !important;
}
    .titi{
        width: 97%;
        text-align: center;
    }
    .asso{
        display: flex;
        flex-direction: column;
    }
    .boxes{
        margin-top: 15%;
    }
    .resu{
        height:100%;
    }
    #flex1{
        width: 100%;
        margin-left: 0px;
        margin-top: 80%;
    }
    #flex2{
        width: 100%;
        margin-left: 0px;
        margin-top: 15%;
    }
    .col-xs-60{
        margin-left: 10% !important;
        margin-right: 31% !important;
    }
    .col-xs-61{
    }
    .atuacoes1{
        display: flex;
        flex-direction: column;
    }
    #atuacoesres{
        margin-bottom: 10% !important;
    }
    #atuacao{
        background-size: 1700px !important;
    }
    .espaco{
        height: 50px !important;
    }
    #box{
        width: 100% !important;
        height: 70% !important;
        margin: 3% 4% 6% 0px !important;
        padding-bottom: 0px !important;
    }
    .botaoz{
        float: left;
        width: 26% !important;
        height: 40px !important;
        margin:0px 0% 0px 4% !important;
        z-index: -2 !important;
        /*position: relative !important;*/
    }
    .ti{
        font-size: 250% !important;
    }
    .te{
        margin-left: 32% !important;
        font-size: 2% !important;
        z-index: 2 !important;
    }
    .col-xs-12{
        text-align: center !important;
        /*margin-left: 14% !important;*/
        width: 100% !important;
}
    .row{
        /*float: left !important;*/
        height: 50px;
        /*display: block !important;*/
    }
    .row-resultado{
        /*width: 350px !important;*/
        margin-right: 0px !important;
    }
    #resultado{
    }
}
#resultado{
    height: 621px !important;
    background:no-repeat;
    background-size: cover;

}

.resultado:after{
    background-color:black;
    content:'';
}
.box{
    border-radius: 10px;
    overflow: hidden;
    perspective: 800px;
    position: relative;
    background-color: white !important;
}
.btns{
    text-align: center;
    margin-top: 50px;
}

.efeito{
    border: none;
    color: #ffffff;
    padding:20px;
    margin:10px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    border-style: solid;
    border-radius: 50px;
    border-color: yellow;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1{
    background-color: transparent;
}

.efeito-1:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(255,255,255,0.3);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.efeito-1:hover:before{
    width: 100%;
}
.box {
    width: 40%;
    height: 280px;
    display: inline-block;
    font-size: 3vw;
    padding: 0vw 0vw 0vw 0vw;
    margin-left: 8% !important;
    min-width: 27vw;
    margin-left: 17%;
    margin-top:4%;
    box-shadow:15px 10px 65px -26px rgba(0,0,0,.3);
    transition: box-shadow .4s;
}
.box:hover{
    box-shadow: 0px 5px 5px 0px !important;
}

.auto-mec {
    height: 100%;
    width: 30%;
}

.auto-list {
    float: left;
}

.mec {
    float: left;
    width: 23%;
    margin-top: 3%;
}

.mec-list {
    float: left;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 11px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-brand img {
    height: 50px;
}

.nav.navbar-nav.pull-right {
    padding-top: 10px;
}

.nav.navbar-nav.pull-right a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    /*background: #fed116;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;*/
    width: 0;
}

.nav.navbar-nav.pull-right a:hover:after {
    width: 100%;
    left: 0;
}


/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 75px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;

}

.opaque-navbar.opaque {
    background-color: black;
    height: 75px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}

.reuniao {
    position: center;
    margin-top: 5%;
    margin-left: 36%;
    transition: 0.25s;
    border-radius: 20px !important;
}

#log {
    height: 110px;
}

.col-xs-60{
    margin-right: 41%;
    margin-left: 3%;
}
.col-xs-61{
    margin-left: 3%;
}
#numero {
    color: #f8e81a;
    font-size: 60px;
    /*padding-top: 29%;*/
    padding-bottom: 0% !important;
}

#consultoria{
    margin-left: 2%;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    width: 34%;
}

.col-xs-12 {
    width: 100%;
}

h2 {
    margin-bottom: 0%;
    margin-top: 0%;

}
@media only screen and (max-width: 430px){
    .box{
        margin:0px 0px 0px 0px;
        width: 900px !important;
        margin-left: 0px !important;

    }
    .dropdown-menu{
        text-align: center;
        margin-left: -35px;   
    }
    #log{
        margin-left: 8%;
    }
    .atuacoes1{
        margin:0px 0px 0px 0px;
        margin-left: 0px !important;
        width:100%;
    }
    .imagem{
        margin:0px 0px 0px 0px !important;
    }
    .titulocard{
        margin:0px 0px 0px 0px !important;
    }
    .textocard{
        margin-right: 0px !important;
    }
}

@media only screen and (max-width: 992px) {
    .opaque-navbar {
        background-color: black;
        height: 75px;
        transition: background-color .5s ease 0s;
    }

    body,html{
        width: 100%;
    }

}
@media only screen and (max-width: 320px){
    #reuniao{
        margin-left: 0px;
        margin: 5% 0% 0px -3% !important;
    }
}

@media only screen and (max-width: 820px){
    .section--blue {
        margin-left: 0%;
        margin-right: 0%;
    }

    .card {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .reuniao {
        margin-top: 7%;
        margin-left: 11%;
        margin-right: 11%;
    }

    .row {
        height: 100%;
    }

    #log {
        height: 300px;
    }

    .card31 {
        height: 100%;
        margin-bottom: 9%;
        /*padding-top: 18%;*/
        margin-top: 3%;
    }

    .card {
        height: 300px;
    }

    .textocard {
        margin-left: 0% !important;
        text-align: center !important;
        width: 100% !important;
    }

    .titulocard {
        margin-left: 21%;
        margin-top: 2%;
    }

    #atuacoesres {
        padding-left: 30px;
        text-align: center;
        font-family: 'Montserrat' !important;
    }

    #cardimginovacao1 {
        height: 80px;
    }

    #projetos {
        padding-left: 10%;
        padding-right: 10%;
    }

    .projetos{

        margin-top:200% !important;
    }

    .item {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    #siganos {
        width: 40%;
    }

    #sigamos1 {
        width: 100%;
    }

    #lista {
        width: 40%;
        padding-left: 2%;
    }

    #lista1 {
        width: 100%;
    }

    #seila {
        width: 100%;
    }

    #seila1 {
        width: 100%;
        padding-left: 15%;
    }
    #cliqueaqui{
        text-align: center !important;
        width: 96% !important;
    }
    #button9{
        /*margin-left: 37%;*/
        width: 100%;
    }
}


@media only screen and (max-width: 380px){
    #reuniao {
        margin-top: 7%;
        margin-left: 5%;
        /*margin-right: 90%;*/
        /*margin: 5% 5% 0px 5% !important;*/
    }
}

.segunda {
    height: 100vh;
}

.servicos {
    height: 55vh;
    background-color: white;
}

.portfolio {
    background-color: darkgray;
    height: 45vh;
}


