/** ************************************************************************************************
*********************************************** CARDS **********************************************
****************************************************************************************************/
body,html{
    font-family: 'Montserrat';
    height: 100%;
    /*background-repeat: no-repeat;    background-image: linear-gradient(rgb(12, 97, 33),rgb(104, 145, 162));*/
    /*background:black;*/
    /*position: relative;*/
}
text {
    width: 100%;
    box-sizing: border-box;
}
#particles-js{
    width: 100%;
    height: 99%;
    color: black;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0px;
    z-index:0;
    margin-left: 70%;
}
.fundo{
     z-index: -3;
}
.textos{
    height: 60%;
    z-index: 2;
}

.card-title1 {

    width: 100%;
    box-sizing: border-box;
}

.card {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    padding-bottom: 10%;

}

.collapsible {
    /*background-color: #ffff33;*/
    background-color: #1a1a1a;
    color:white !important;
    cursor: pointer;
    padding: 1%;
    width: 93%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.active, .collapsible:hover {
    background-color: #ebebe0;
    border-bottom-style: solid;
    border-bottom-color: #ebebe0;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 0.5%;
    max-height: 0;
    width: 93%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ebebe0;
}

.duvidas {
    padding-left: 8%;
    padding-bottom: 3%;
}

.imagem {
    float: right;
    margin-top: 2%;
    height: 250px;
}

.texto1 {
    width: 87%;
    height: 20%;
    z-index: 999;
}

.texto2 {
    width: 87%;
    height: 20%;
}

.row-textos1 {
    width: 100%;
    height: 10%;
    padding-left: 4%;
    margin-top: 12%;
    float: left;
}

.row-textos2 {
    width: 100%;
    height: 100%;
    padding-left: 4%;
    margin-bottom: 1%;
}

.cardimgqualidade {
    width: 350px;
    height: 138px;
    background-image: url("../images/qualidade/qualidadePOLIJUNIOR.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cardimgpreco {
    width: 350px;
    height: 138px;
    background-image: url("../images/qualidade/precoPOLIJUNIOR.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cardimginovacao {
    width: 350px;
    height: 110px;
    margin: 0% 0% 0% 32%;
    background-image: url("../images/qualidade/inovacaoPOLIJUNIOR.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.porque {
    min-height: 30vh;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.form-control {
    width: 20%;
}

h2 {
    color: #fed161;
}

@media (max-width: 820px) {
    .row-textos1 {
        height: 30%;
        padding-top: 7%;
    }

    .card {
        margin-left: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
        padding-bottom: 0%;
    }

    .cardimginovacao {
        margin-top: 0%;
    }
}

@media (max-width: 1570px) {
    .cardimgqualidade {
        width: 230px;
    }

    .cardimgpreco {
        width: 230px;
    }

    .cardimginovacao {
        width: 115px;
    }

}

@media (max-width: 1140px) {
    .cardimgqualidade {
        width: 200px;
        height: 120px;
    }

    .cardimgpreco {
        width: 300px;
        height: 120px;
    }

    .cardimginovacao {
        width: 200px;
        height: 120px;
    }
}

@media (max-width: 980px) {
    .cardimgqualidade {
        width: 180px;
        height: 100px;
    }

    .cardimgpreco {
        width: 180px;
        height: 100px;
    }

    .cardimginovacao {
        width: 180px;
        height: 100px;
    }
}

@media (max-width: 900px) {
    .porque {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card {
        width: 350px;
    }

    .card-text {
        width: 350px;
    }

    .card-title1 {
        width: 350px;
    }

    .cardimgqualidade {
        width: 350px;
        background-position: center;
    }

    .cardimgpreco {
        width: 350px;
        background-position: center;
    }

    .cardimginovacao {
        width: 350px;
        background-position: center;
    }
}

@media (max-width: 650px) {
    .porque {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardimg {
        width: 300px !important;
        height: 130px;
    }

    .card-text {
        width: 300px;
    }

    .card-title1 {
        width: 300px;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 300px) {
    .card-text {
        width: 250px;
    }

    .card-title1 {
        width: 250px;
    }
}