body,html{
font-family: 'Montserrat', sans-serif;
}

.ps{
height: 100%;
width: 75%;
margin: 3% 0px 0px 3%;
text-align: justify;
}

.titulo{
	width: 100%;
	color: #ffd100;
	margin: 15% 0px 0px 3%;
}

.item{
	border-radius: 1px;
	margin: 4% 9% 2% 2%;
	width: 20%;
	height: 30px;
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;	
	background-color: #ffd100;
}.item:hover{
	color: white;
}

.collapsible {
    /*background-color: #ffff33;*/
    background-color: #1a1a1a;
    color:white !important;
    cursor: pointer;
    padding: 1%;
    width: 93%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
}

.active, .collapsible:hover {
    background-color: #ebebe0;
    border-bottom-style: solid;
    border-bottom-color: #ebebe0;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 0.5%;
    max-height: 0;
    width: 93%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ebebe0;
}
.col-xs-8{
    position: inherit;
}

.duvidas {
    padding-left: 8%;
    padding-bottom: 3%;
}

.center{
	display: flex;
	margin-top: 4%;

}
.container{
	margin-left: 0px;
    width: 80% !important;
    margin-right: 0px !important;
    display: flex;
    justify-content: center;
}

a{
	color: black;
}

@media only screen and (max-width: 430px){
	.titulo{
		margin-top: 30%;
		margin-bottom: 5%;
	}

	#particles-js{
		display: none;
	}
	.item{
		width: 80%;
	}
}

@media only screen and (max-width: 330px){
	.item{
		width: 100%;
	}
}