

html{
	 background-position: 25% 90%;
	background-image: linear-gradient(to bottom, transparent -40%, #fff 10%), url("../images/Novas/tec.jpg") !important;
}
.tudo{
	width: 100%;
}

.todo-titulo{
	width: 100%;
	height: 180px;
	margin-top: 10%;
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
}

.titulo-topo{
	margin-top:5%;
	padding-top: 3.5%;
	padding-bottom: 0.7%;
	border-bottom-style: solid;
	border-color: #ffd100;
	color:black;
	width: 32%;
	text-align: right;
}

.textinho{
	width: 100%;
	height: 120px;
	margin: 3.5% 5% 5% 0px;
}

.te{
	text-align: justify;
	margin: 0px 20% 0px 20%;
}

a:hover{
	color: #ffd100;
	text-decoration: none !important;
	
}

.listagem{
	display: flex;
	margin-bottom: 3%;
}
.ger{
	width: 30%;
	margin-left: 5%;
}
.enge{
	margin-left: 6%;
}
.enge1{
	margin-left: 6%;
}
.ti{
	border-bottom-style: solid;
	border-bottom-width: 3.7px;
	border-color:#ffd100;
	color:black;
	text-align: center;
}
.tex{
	text-align: justify;
}

@media only screen and (max-width: 430px){
	.listagem{
		display: flex;
		flex-direction: column;

	}
	.enge{
		margin-left: 0px !important;
		visibility: hidden !important;
	}
	.ima{
		display: none !important;
	}
	.ger{
		width: 90%;
		margin-bottom: 16%;
	}

	.titulo-topo{
		margin-top: 15.4%;
		padding-top: 15%;
		width: 100%;
		text-align: center;
	}
	.textinho{
		height: 30px;
		width: 100%;
	}
	strong{
		margin-top: 50% !important;
	}
}